@import url("https://fonts.googleapis.com/css?family=Open+Sans|Orbitron&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in HSLA */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 32px;
  text-align: center;
  padding: 50px 50px;
  line-height: 41.6px;
}

h2 {
  font-size: 32px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100vw;
  height: auto;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
body .container {
  padding-top: 100px;
  min-height: calc(100vh - 50px);
  background: #fefefe;
  color: #062829;
}

.hidden {
  visibility: hidden;
}

header {
  background-color: #fefefe;
  width: 100vw;
  height: 75px;
  position: fixed;
  top: 0;
  z-index: 100;
  color: #062829;
}
header .mobile-header {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
  z-index: 200;
}
header .mobile-header i {
  font-size: 2em;
}
header .logo {
  height: 50px;
  line-height: 50px;
}
header .logo img {
  width: auto;
  height: 50px;
}

.dropdown-menu-mobile {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.main-nav {
  background-color: #fefefe;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 150;
}
.main-nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28.8px;
  padding-top: 100px;
}
.main-nav ul li {
  width: 100%;
  text-align: center;
  line-height: 50px;
  margin-top: 10px;
}
.main-nav ul li a {
  width: 100%;
  display: inline-block;
}
.main-nav ul li > .active {
  background-color: #20DFE6;
  color: #062829;
}

section {
  padding: 50px 0;
}

.dark-bg {
  background-image: linear-gradient(to top right, #18A3A8, #0B4D4F, #062829);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fefefe;
  padding: 0 50px 50px 50px;
  min-height: calc(100vh - 150px);
}

.light-bg {
  background-image: linear-gradient(to bottom left, #fefefe, #f2f2f2);
  background-size: cover;
  background-repeat: no-repeat;
}

.project-article {
  margin-bottom: 50px;
  margin-left: 3px;
  margin-right: 3px;
  padding-bottom: 50px;
  background: #fefefe;
  overflow: hidden;
  color: #062829;
  box-shadow: 0px 10px 28px 0 black;
}
.project-article .project-img-title {
  position: relative;
  background: #fefefe;
}
.project-article .project-img-title h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #20DFE6;
  color: #062829;
  padding: 5px 16px 0 16px;
  line-height: 32px;
}
.project-article .project-img-title img {
  width: 100%;
  height: auto;
}
.project-article .project-info p {
  display: flex;
  padding: 16px;
}
.project-article .project-info p strong {
  width: 200px;
}
.project-article .project-info p span {
  width: 100%;
}
.project-article .project-btns {
  padding: 16px;
  display: flex;
  justify-content: center;
}
.project-article .project-btns button:first-of-type {
  margin-right: 50px;
}
.project-article .project-btns button {
  text-transform: uppercase;
  font-weight: bold;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-image: linear-gradient(to top right, #18A3A8, #1BBCC2, #20DFE6);
  border: none;
  box-shadow: 3px 3px 5px 0 #062829;
  color: #fefefe;
}
.project-article .project-btns button:hover {
  background-image: linear-gradient(to top right, #1BBCC2, #20DFE6);
  box-shadow: 0 0 5px 5px #20DFE6;
  color: #062829;
}

.dev-skills {
  filter: grayscale(1);
  opacity: 0.2;
}
.dev-skills .dev-skills-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.dev-skills .dev-skills-wrapper .dev-img {
  width: calc(100%/3);
  padding: 25px;
  text-align: center;
}
.dev-skills .dev-skills-wrapper .dev-img img {
  width: 100%;
  height: auto;
}
.dev-skills .dev-skills-wrapper .dev-img-big {
  width: calc(100%/3*1.8);
}

footer {
  background: #062829;
  font-size: 12.8px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fefefe;
}

@media only screen and (min-width: 960px) {
  section {
    padding: 50px 200px 100px 200px;
  }

  .intro {
    padding: 150px 400px;
  }

  h1 {
    font-size: 64px;
    line-height: 72.8px;
  }

  h2 {
    font-size: 48px;
  }

  .dropdown-menu-mobile {
    visibility: hidden;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    height: unset;
  }
  header .mobile-header,
header .main-nav ul {
    padding-top: 0;
  }

  .main-nav {
    width: auto;
    height: 50px;
    position: unset;
    padding-right: 50px;
  }
  .main-nav ul {
    flex-direction: row;
    height: 50px;
  }
  .main-nav ul li {
    width: auto;
    margin-top: 0;
  }
  .main-nav ul li a {
    margin-top: 0;
    padding-left: 25px;
    padding-right: 25px;
  }

  .project-article-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .project-article-wrapper .project-article {
    width: calc(90%/3);
  }

  .dev-skills .dev-skills-wrapper .dev-img {
    width: calc(100%/6);
    padding: 50px;
  }
  .dev-skills .dev-skills-wrapper .dev-img-big {
    width: calc(100%/6*1.5);
  }
}

/*# sourceMappingURL=style.css.map */
