@import url("https://fonts.googleapis.com/css?family=Open+Sans|Orbitron&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in HSLA */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 32px;
  text-align: center;
  padding: 50px 50px;
  line-height: 41.6px;
}

h2 {
  font-size: 32px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #fefefe;
  width: 100vw;
  height: 75px;
  position: fixed;
  top: 0;
  z-index: 100;
  color: #062829;
  display: flex;
  align-items: flex-end;
  padding: 0 50px 0 50px;
}
header .logo {
  height: 100%;
  width: 200px;
}
header .logo img {
  width: auto;
  height: 100%;
}
header .main-nav {
  margin-left: auto;
  width: 500px;
}
header .main-nav-links {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
header .main-nav-links li a {
  padding: 5px 20px;
  font-size: 24px;
  display: inline-block;
}
header .main-nav-links li a:hover {
  background-color: #20DFE6;
}
header .main-nav-links li > .active {
  background-color: #1BBCC2;
}

@media only screen and (max-width: 768px) {
  header {
    align-items: unset;
    flex-direction: column;
    padding: unset;
    color: #062829;
  }
  header .hamburger {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    padding: 10px;
  }
  header .hamburger .nav-line {
    width: 30px;
    height: 3px;
    background: #062829;
    margin: 5px;
  }
  header .main-nav {
    width: 100vw;
  }
  header .main-nav-links {
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 32px;
    background: #fefefe;
    height: 100vh;
    width: 100%;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
    padding-top: 50px;
  }
  header .main-nav-links.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -20%);
  }
  header .main-nav-links li {
    opacity: 0;
    width: 100%;
    text-align: center;
  }
  header .main-nav-links li a {
    padding: 50px 0;
  }
  header .main-nav-links li a:hover {
    width: 100%;
  }
  header .main-nav-links li > .active {
    width: 100%;
  }
  header .main-nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  header .main-nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  header .main-nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  header .main-nav-links li.fade {
    opacity: 1;
  }
}
body {
  width: 100vw;
  height: auto;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
body .container {
  padding-top: 100px;
  min-height: calc(100vh - 50px);
  background: #fefefe;
  color: #062829;
}

section {
  padding: 50px 0;
}

.dark-bg {
  background-image: linear-gradient(to top right, #18A3A8, #0B4D4F, #062829);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fefefe;
  padding: 0 50px 50px 50px;
  min-height: calc(100vh - 150px);
}

.light-bg {
  background-image: linear-gradient(to bottom left, #fefefe, #f2f2f2);
  background-size: cover;
  background-repeat: no-repeat;
}

.project-article {
  margin-bottom: 50px;
  margin-left: 3px;
  margin-right: 3px;
  padding-bottom: 50px;
  background: #fefefe;
  overflow: hidden;
  color: #062829;
  box-shadow: 0px 10px 28px 0 black;
}
.project-article .project-img-title {
  position: relative;
  background: #fefefe;
}
.project-article .project-img-title h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #20DFE6;
  color: #062829;
  padding: 5px 16px 0 16px;
  line-height: 32px;
}
.project-article .project-img-title img {
  width: 100%;
  height: auto;
}
.project-article .project-info {
  height: 300px;
}
.project-article .project-info p {
  padding: 16px;
}
.project-article .project-info p strong {
  display: inline-block;
  margin-right: 20px;
}
.project-article .project-info p span {
  width: 100%;
}
.project-article .project-info p:nth-child(2) strong, .project-article .project-info p:nth-child(2) span {
  display: block;
  width: 100%;
}
.project-article .project-btns {
  padding: 16px;
  display: flex;
  justify-content: center;
}
.project-article .project-btns button:first-of-type {
  margin-right: 50px;
}
.project-article .project-btns button {
  text-transform: uppercase;
  font-weight: bold;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to top right, #18A3A8, #1BBCC2, #20DFE6);
  border: none;
  box-shadow: 3px 3px 5px 0 #062829;
  color: #fefefe;
}
.project-article .project-btns button:hover {
  background-image: linear-gradient(to top right, #1BBCC2, #20DFE6);
  box-shadow: 0 0 5px 5px #20DFE6;
  color: #062829;
}

.dev-skills h2 {
  filter: grayscale(1);
  opacity: 0.2;
}
.dev-skills .dev-skills-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.dev-skills .dev-skills-wrapper .dev-img {
  filter: grayscale(1);
  opacity: 0.2;
  width: calc(100%/3);
  padding: 25px;
  text-align: center;
}
.dev-skills .dev-skills-wrapper .dev-img:hover {
  filter: grayscale(0);
  opacity: 1;
}
.dev-skills .dev-skills-wrapper .dev-img img {
  width: 100%;
  height: auto;
}
.dev-skills .dev-skills-wrapper .dev-img-big {
  width: calc(100%/3*1.8);
}

footer {
  background: #062829;
  font-size: 12.8px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fefefe;
}

@media only screen and (min-width: 960px) {
  section {
    padding: 50px 200px 100px 200px;
  }

  .intro {
    padding: 150px 400px;
  }

  h1 {
    font-size: 64px;
    line-height: 72.8px;
  }

  h2 {
    font-size: 48px;
  }

  .project-article-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .project-article-wrapper .project-article {
    width: calc(90%/3);
  }

  .dev-skills .dev-skills-wrapper .dev-img {
    width: calc(100%/6);
    padding: 50px;
  }
  .dev-skills .dev-skills-wrapper .dev-img-big {
    width: calc(100%/6*1.5);
  }
}

/*# sourceMappingURL=style.css.map */
