/* Color Theme Swatches in Hex */
$dark-bg-hex: #062829;
$background-hex: #0B4D4F;
$header-hex: #18A3A8;
$light-hex: #20DFE6;
$light-txt: #fefefe;
$accent-hex: #1BBCC2;
$light-accent: #f2f2f2;


/* Color Theme Swatches in RGBA */
$dark-bg-rgba: rgba(6,40,41, 1);
$background-rgba: rgba(11,77,79, 1);
$header-rgba: rgba(24,163,168, 1);
$accent-rgba: rgba(27,188,194, 1);
$light-rgba: rgba(32,223,230, 1);


/* Color Theme Swatches in HSLA */
$dark-bg-hsla: hsla(181, 74, 9, 1);
$background-hsla: hsla(181, 75, 17, 1);
$header-hsla: hsla(182, 75, 37, 1);
$accent-hsla: hsla(182, 75, 43, 1);
$light-hsla: hsla(182, 79, 51, 1);
