@import 'reset';
@import 'variables';
@import 'typography';
// @import 'animations';



// MOBILE FIRST DESIGN
body {
    width: 100vw;
    height: auto;
    font-size: $font-size;
    font-family: $main-font;

    .container {
        padding-top: $height * 2;
        min-height: calc(100vh - 50px);
        background: $light-txt;
        color: $dark-bg-hex;
    }
}

.hidden {
    visibility: hidden;
}

// HEADER
header {
    background-color: $light-txt;
    width: 100vw;
    height: $height * 1.5;
    position: fixed;
    top: 0;
    z-index: 100;
    color: $dark-bg-hex;

    .mobile-header {
        display: flex;
        justify-content: space-between;
        padding-top: $height * 0.5;
        margin-left: $height * 0.5;
        margin-right: $height * 0.5;
        position: relative;
        z-index: 200;

        i {
            font-size: 2em;
        }
    }

    .logo {
        height: $height;
        line-height: $height;

        img {
            width: auto;
            height: $height;
        }
    }
}

.dropdown-menu-mobile {
    // background-color: $dark-bg-hex;
    width: $height;
    height: $height;
    line-height: $height;
    text-align: center;
}

.main-nav {
    // background-color: $dark-bg-hex;
    background-color: $light-txt;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 150;

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        font-size: $font-size * 1.8;
        padding-top: $height * 2;

        li {
            width: 100%;
            text-align: center;
            line-height: $height;
            margin-top: $height * 0.2;

            &:hover {
                background-color: $light-hex;
            }
        }

        li a {
            width: 100%;
            display: inline-block;
        }

        li>.active {
            background-color: $accent-hex;
        }
    }
}

// BODY [PROJECTS]
section {
    padding: $height 0;
}

.dark-bg {
    background-image: linear-gradient(to top right, $header-hex, $background-hex, $dark-bg-hex);
    background-size: cover;
    background-repeat: no-repeat;
    color: $light-txt;
    padding: 0 $height $height $height;
    min-height: calc(100vh - 150px);
}

.light-bg {
    background-image: linear-gradient(to bottom left, $light-txt, $light-accent);
    background-size: cover;
    background-repeat: no-repeat;
}

.project-article {
    margin-bottom: $height;
    margin-left: 3px;
    margin-right: 3px;
    padding-bottom: $height;
    background: $light-txt;
    overflow: hidden;
    color: $dark-bg-hex;
    box-shadow: 0px 10px 28px 0 black;

    .project-img-title {
        position: relative;
        background: $light-txt;

        h3 {
            position: absolute;
            bottom: 0;
            left: 0;
            background: $light-hex;
            color: $dark-bg-hex;
            padding: 5px $font-size 0 $font-size;
            line-height: $font-size * 2;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .project-info {
        height: 300px;
        p {
            display: flex;
            padding: $font-size;

            strong {
                width: 200px;
            }

            span {
                width: 100%;
            }
        }
    }
    

    .project-btns {
        padding: $font-size;
        display: flex;
        justify-content: center;


        button:first-of-type {
            margin-right: $height;
        }

        button {
            text-transform: uppercase;
            font-weight: bold;
            width: 150px;
            height: $height;
            border-radius: 10px;
            background-image: linear-gradient(to top right, $header-hex, $accent-hex, $light-hex);
            border: none;
            box-shadow: 3px 3px 5px 0 $dark-bg-hex;
            color: $light-txt;

            &:hover {
                background-image: linear-gradient(to top right, $accent-hex, $light-hex);
                box-shadow: 0 0 5px 5px $light-hex;
                color: $dark-bg-hex;
            }
        }
    }



}

.dev-skills {
    h2 {
        filter: grayscale(1);
        opacity: 0.2;
    }
    .dev-skills-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;

        .dev-img {
            filter: grayscale(1);
            opacity: 0.2;
            width: calc(100%/3);
            padding: $height * 0.5;
            text-align: center;

            &:hover {
                filter: grayscale(0);
                opacity: 1;
            }

            img {
                width: 100%;
                height: auto;
            }
        }


        .dev-img-big {
            width: calc(100%/3*1.8);
        }
    }
}


// FOOTER
footer {
    background: $dark-bg-hex;
    font-size: $font-size * 0.8;
    height: $height;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light-txt;
}




//MOBILE VERSIONS
@media only screen and (max-width: 600px) {}

// DESKTOP VERSIONS
@media only screen and (min-width: 960px) {

    // GENERAL
    section {
        padding: $height 200px 100px 200px;
    }

    .intro {
        padding: 150px 400px;
    }

    h1 {
        font-size: $font-size * 4;
        line-height: $line-height * 3.5;
    }

    h2 {
        font-size: $font-size * 3;
    }

    .dropdown-menu-mobile {
        visibility: hidden;
    }

    // HEADER SECTION
    header {
        display: flex;
        justify-content: space-between;
        padding-top: $height;
        height: unset;

        .mobile-header,
        .main-nav ul {
            padding-top: 0;
        }
    }

    .main-nav {
        width: auto;
        height: $height;
        position: unset;
        padding-right: $height;

        ul {
            flex-direction: row;
            height: $height;

            li {
                width: auto;
                margin-top: 0;
            }

            li a {
                margin-top: 0;
                padding-left: $height / 2;
                padding-right: $height / 2;
            }
        }
    }

    // PROJECTS SECTION
    .project-article-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .project-article {
            width: calc(90%/3);
        }
    }

    .dev-skills {
        .dev-skills-wrapper {
            .dev-img {
                width: calc(100%/6);
                padding: $height;
            }

            .dev-img-big {
                width: calc(100%/6*1.5);
            }
        }
    }
}

