@import 'reset';
@import 'variables';
@import 'typography';

// MOBILE FIRST DESIGN
body {
    width: 100vw;
    height: auto;
    font-size: $font-size;
    font-family: $body-font;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $title-font;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

.hidden {
    visibility: hidden;
}

// HEADER
header {
    background-color: $header-hex;
    width: 100%;
    height: $height;
    position: relative;
    z-index: 100;

    .mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        height: $height;
        line-height: $height;

        img {
            width: auto;
            height: $height;
        }
    }

}

.dropdown-menu-mobile {
    background-color: $dark-bg-hex;
    width: $height;
    height: $height;
    color: $light-txt;
    line-height: $height;
    text-align: center;
}

.main-nav {
    background-color: $dark-bg-hex;
    color: $light-txt;
    height: 100vh;

    ul {
        height: 100%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            width: 100%;
            text-align: center;
        }

        li a {
            width: 100%;
            display: inline-block;
            font-size: $font-size * 2.5;
            line-height: $height;
            margin-top: $height;
        }

        li>.active {
            background-color: $light-hex;
            color: $dark-bg-hex;
        }
    }
}



img {
    width: 350px;
    height: auto;
}

// DESKTOP VERSION
@media only screen and (min-width: 960px) {
    .dropdown-menu-mobile {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    .main-nav {
        height: $height;

    ul {
        flex-direction: row;
        height: $height;

        li {

        }

        li a {
            margin-top: 0;
            margin-left: $height;
        }

        li>.active {

    }
}}}